*{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    display: inline-block;
    width: 100%;
}
.portrait{
    width: 100%; height: 400px;
    object-fit: cover;
    opacity: 0.8;
}
.tittle{
    color: white;
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 600px;
    right: 30%;
    left: 30%;
}